[Desktop Entry]
Comment=PidginRunner runner
Comment[ast]=Llanzador pa PidginRunner
Comment[bs]=PidginRunner izvršilac
Comment[ca@valencia]=Llançador de PidginRunner
Comment[ca]=Llançador de PidginRunner
Comment[cs]=PidginRunner runner
Comment[da]=PidginRunner-runner
Comment[el]=εκτελεστής PidginRunner
Comment[en_GB]=PidginRunner runner
Comment[es]=Lanzador para PidginRunner
Comment[et]=PidginRunner käivitaja
Comment[fi]=PidginRunner-suoritusohjelma
Comment[fr]=Lanceur PidginRunner
Comment[ga]=Feidhmitheoir PidginRunner
Comment[gl]=Executor PidginRunner
Comment[hu]=PidginRunner-futtató
Comment[it]=Esecutore di PidginRunner
Comment[ja]=PidginRunner runner
Comment[kk]=PidginRunner жеккіші
Comment[km]=កម្មវិធី​រត់ PidginRunner​
Comment[ko]=PidginRunner 실행기
Comment[lv]=PidginRunner darbinātājs
Comment[nb]=PidginRunner-kjører
Comment[nds]=PidginRunner-Dreger
Comment[nl]=PidginRunner-starter
Comment[nn]=PidginRunner-køyrar
Comment[pa]=PidginRunner ਰਨਰ
Comment[pl]=Uruchamianie PidginRunner
Comment[pt]=Execução do PidginRunner
Comment[pt_BR]=Execução do PidginRunner
Comment[ro]=Lansator PidginRunner
Comment[ru]=Способ запуска PidginRunner
Comment[sk]=PidginRunner runner
Comment[sq]=PidginRunner runner
Comment[sr@ijekavian]=PidginRunner извођач
Comment[sr@ijekavianlatin]=PidginRunner izvođač
Comment[sr@latin]=PidginRunner izvođač
Comment[sr]=PidginRunner извођач
Comment[sv]=Körning av PidginRunner
Comment[tr]=PidginRunner çalıştırıcı
Comment[uk]=Засіб запуску PidginRunner
Comment[x-test]=xxPidginRunner runnerxx
Comment[zh_CN]=PidginRunner 启动器
Comment[zh_TW]=PidginRunner 執行器
Icon=pidgin
Name=PidginRunner
Name[ast]=PidginRunner
Name[bg]=PidginRunner
Name[bs]=PidginRunner
Name[ca@valencia]=PidginRunner
Name[ca]=PidginRunner
Name[cs]=PidginRunner
Name[da]=PidginRunner
Name[de]=PidginRunner
Name[el]=PidginRunner
Name[en_GB]=PidginRunner
Name[eo]=PidginRunner
Name[es]=PidginRunner
Name[et]=PidginRunner
Name[fi]=PidginRunner
Name[fr]=PidginRunner
Name[ga]=PidginRunner
Name[gl]=PidginRunner
Name[hu]=PidginRunner
Name[it]=PidginRunner
Name[ja]=PidginRunner
Name[kk]=PidginRunner
Name[km]=PidginRunner
Name[ko]=PidginRunner
Name[lv]=PidginRunner
Name[nb]=PidginRunner
Name[nds]=PidginRunner
Name[nl]=PidginRunner
Name[nn]=PidginRunner
Name[pa]=PidginRunner
Name[pl]=PidginRunner
Name[pt]=PidginRunner
Name[pt_BR]=PidginRunner
Name[ro]=PidginRunner
Name[ru]=PidginRunner
Name[sk]=PidginRunner
Name[sq]=PidginRunner
Name[sr@ijekavian]=PidginRunner
Name[sr@ijekavianlatin]=PidginRunner
Name[sr@latin]=PidginRunner
Name[sr]=PidginRunner
Name[sv]=PidginRunner
Name[tr]=PidginRunner
Name[ug]=PidginRunner
Name[uk]=PidginRunner
Name[x-test]=xxPidginRunnerxx
Name[zh_CN]=PidginRunner
Name[zh_TW]=PidginRunner
Type=Service
X-KDE-Library=krunner_pidginrunner
X-KDE-PluginInfo-Author=Todd Kennedy
X-KDE-PluginInfo-Email=toddkenn@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=pidginrunner
X-KDE-PluginInfo-Version=0.3
X-KDE-ServiceTypes=Plasma/Runner
